body{margin: 0;}
/* МЕДИАЗАПРОСЫ*/
@media screen and (min-device-width: 970px) {
/*Работа с шапкой */
.page_header_wrapper{width: 100%; height: 45px;background-color: #1e193f;}
.page_header{width: 63%;min-width: 970px; height: 45px; margin: 0 auto;}
.page_header a{display: block; text-decoration: none; letter-spacing: 0.59px; font-family: Open_Sans; font-size: 14px; color:white;}
.page_header p{letter-spacing: 0.59px; font-family: Open_Sans; font-size: 14px; color:white;}
.page_header div{height: auto; float: left;}
.page_header div img{float: left;}
.page_header_1{width: 18%;text-align: center; margin-left: 0; padding: 0 0 0 25px;}
.page_header_1 img{margin-top: 4px;}
.page_header_1 .page_header_1_a{width: 195px; margin: 12px 0 0 0px;}
.page_header_1 p{width: 195px; margin: 0 auto;}
.page_header_2{width: 213px; margin-left: 0px;}
.page_header_2 img{margin:4px 8px 0 0;}
.page_header_2 .page_header_2_p{margin: 12px 0 0 27px;border-right: 1px solid #36305e;}
.page_header_3{width: 159px;padding-left: 5.6%;}
.page_header_3 img{margin: 4px 8px 0 0;}
.page_header_3 .page_header_3_p{margin: 12px 0 0 27px;width: 155px;}
.page_header_4 .page_header_4_a{width: 100%; margin: 10px 0 0 0px; letter-spacing: 0px;}
.page_header_4 {margin-left: 4%;}
.page_header .page_header_all{width: 70%;float:right;}
.page_header .page_header_all div{float: right}
}
@media screen and (min-device-width: 970px) {
.container {position: relative;display: block; height: 100%;}
.container .div-wrapper{margin-right: 28px;}
.container .button:hover{background-color: #36305e;}
.container .button:hover .button-p{border-bottom: 1px dotted white;}
.page_header .container .button p{width: 123px; margin: 0;padding: 0;letter-spacing: 0px;}
.container .button {width: 132px; margin-left: 4.8%;margin-right: 0px;padding: 6% 14px 8% 23px;position: relative;display: inline-block;font-family: Open_Sans;font-size: 14px;color: white;letter-spacing: 0px;}
.container .button a{display: block;text-decoration: none;border-bottom: 1px dotted white}
.overlay {top: 0;right: 0;bottom: 0;left: 0;z-index: 9999;visibility: hidden;background-color: rgba(0, 0, 0, 0.7);opacity: 0;position: fixed;cursor: default;-webkit-transition: all 0.6s;-moz-transition: all 0.6s;
					-ms-transition: all 0.6s;-o-transition: all 0.6s;transition: all 0.6s;}
.overlay:target {visibility: visible;opacity: 1;}
.page_header .popup {top: auto;left: 50%;z-index: 10000;margin: 0 auto;width: 100%;min-width: 200px;max-width: 391px;height: 310px;position: fixed;padding: 15px;
					background-color: #1e193f;-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
					-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);-o-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
					-webkit-transform: translate(-50%, -150%);-ms-transform: translate(-50%, -150%);-o-transform: translate(-50%, -150%);transform: translate(-50%, -150%);-webkit-transition: transform 0.6s ease-out;
					-moz-transition: transform 0.6s ease-out;-ms-transition: transform 0.6s ease-out;-o-transition: transform 0.6s ease-out;transition: transform 0.6s ease-out;}
.page_header .page_header_all .form-all-header{float: none}
.form-all-header .caption-header{width: 236px;margin: 0px auto 0 auto;padding: 5px 0 0 5px; letter-spacing: 0px; text-align:center; font-family: Open_Sans_Bold;font-size: 20px;color:white;}
.form-all-header .caption-header span{display: block;white-space: pre;font-family: Open_Sans;font-size: 17px;}
.page_header .page_header_all .form-header{float:left; height: 328px;position: relative;}
.contact_form-header{position: relative; width: 92%;height: 100%; margin: 32px auto 0 auto;}
.left-header{float: none;width: 100%;}
}
@media screen and (min-device-width: 970px) {
.page_header .page_header_all .name-header, .page_header .page_header_all .tell-header{width: 100%;height: 50px;background-color: white;}
.page_header .page_header_all .name-header .name-img, .page_header .page_header_all .tell-header .tell-img{position: relative;top:33%;left:5%; opacity: 0.1; float: left;}
.page_header .page_header_all .name-header input, .page_header .page_header_all .tell-header input{float: right; width: 86%;height: 100%;font-family: Open_Sans;font-size: 14px; padding: 0;outline: none;border:none;}
.page_header .page_header_all .tell-header{margin-top: 17px;}
input::-moz-placeholder{font-family: Open_Sans;font-size: 14px;opacity: 0.2}
input::-webkit-input-placeholder{font-family: Open_Sans;font-size: 14px;opacity: 0.2}
input:-moz-placeholder{font-family: Open_Sans;font-size: 14px;opacity: 0.2}
input::-ms-input-placeholder{font-family: Open_Sans;font-size: 14px;opacity: 0.2}
.page_header .page_header_all .button-red{position: relative; top:-117px;text-align: center;padding-top: 12px; float: right;width: 100%; height: 33px;border-radius: 5px;font-family: Open_Sans;font-size: 15px;color:white; background-color: #d73539;}
.page_header .page_header_all .button-a-header{position: relative;top:155px;left:0px; float: none;width: 100%; height: 50px;display: block;border-radius: 5px; background-color: #c13235;}
.overlay:target+.popup {top: 215px;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.close {position: absolute;padding: 0;top: -10px;right: -10px;width: 22px;height: 22px;border: 2px solid #ccc;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;
				-o-border-radius: 50%;border-radius: 50%;background-color: rgba(61, 61, 61, 0.8);-webkit-box-shadow: 0px 0px 10px #000;-moz-box-shadow: 0px 0px 10px #000;box-shadow: 0px 0px 10px #000;text-align: center;
				text-decoration: none;font-weight: bold;line-height: 20px;-webkit-transition: background-color ease .7s;-moz-transition:  background-color ease .7s;-ms-transition:  background-color ease .7s;-o-transition:  background-color ease .7s;transition: background-color ease .7s;}
.close:before {color: rgba(255, 255, 255, 0.9);content: '\2715';text-shadow: 0 -1px rgba(0, 0, 0, 0.9);font-size: 12px;}
.close:hover {background-color: rgba(252, 20, 0, 0.8);}
.popup p {margin: 0;padding: 10px;}
.mobile-page{display: none;}
}
@media screen and (min-device-width: 970px) {
/*Работа с навигацией */
.navbar-wrapper{width: 100%; height: 104px;}
.navbar{width: 65.5%; min-width: 970px; height: 100%; margin: 0 auto;}
.navbar_a{display: block; width: 71%; max-width: 774px; height: 100%; float: right; overflow: hidden; margin-right: 0px;}
.navbar_a a{position: relative;float: right;}
.navbar a{display: block; height: 60px;float: left; margin-top: 42px; text-decoration: none; text-transform: uppercase; font-family: Open_Sans; font-size: 17px; color:#1e193f;}
.navbar_a1{width: 9.7%;margin-right: 7.6%;}
.navbar_a2{width: 12%;margin-right: 7.3%;}
.navbar_a3{width: 10.6%;margin-right: 7.6%;}
.navbar_a4{width: 8.5%;margin-right: 7.6%;}
.navbar_a5{width: 11.7%;margin-right: 7.6%;}
.navbar a:hover{ border-bottom: 2px solid #6f9cd2; color: #6f9cd2;}
.logo{width: 14%; height: 100%; float: left;padding-left: 47px;}
.logo img{float: left; margin: 27px 0 0 0px;}
.logo p{position: relative; top:39px; margin: 0 0 0 67px; font-family: Open_Sans_Bold; font-size: 24px; color:#1e193f;}	
.navbar .navbar_a4{margin: 42px 57px 0 0;}
.navbar .navbar_a5{margin: 42px 34px 0 0;}
.search{width: 25px; height: 22px; position: relative; float: left; padding-left: 33px;margin-top: 42px;border-left: 1px solid #e6e6ea;}
.search img{cursor: pointer;}
.menu-search{display: none;}
.search-form{display: none;}
}
@media screen and (min-device-width: 970px) {
.nav{width: 100%; height: auto; margin: 0 auto;padding-bottom: 20px; font-family: Open_Sans; font-size: 14px;color: black;background-color: #f4f4f4}
.nav p{width: 61%; height: 21px;padding-top: 20px; margin: 0 auto;}
.nav a{display: block;float: left;text-decoration:none;color: black}
.nav span{float: left;color:#6f9cd2;}
.nav-a1{margin-right: 5px;}
.nav-a2{margin:0 4px 0 3px;}
.nav-a3{margin:0 4px 0 3px;}
.nav .nav-a4{margin:0 4px 0 3px;opacity: 0.4;color: black}
}
@media screen and (min-device-width: 970px) {
	.card-product-wrapper{width: 100%;height: auto;padding-bottom: 70px; background-color: #f4f4f4;}
	.card-product{max-width: 1170px;height:auto; margin: 0 auto;background-color: #f4f4f4;}
	.left-bar{display: block; float: left;width: 22.8%;height: 100%;background-color: white;}
	.left-bar #over{display: none}
	.left-bar div{float: none;width: 100%;border-width:0px 1px 1px 1px;border-style: solid;border-color:  #e9e9e9;}
	.left-bar p{margin: 0; font-family: Open_Sans_Bold;font-size: 16px;color: black;}
	.left-bar a{display: block;font-family: Open_Sans;font-size: 15px;color: black;opacity: 0.4;}
	.left-bar a img{float: left}
	.left-bar .left-bar-1{width: 100%;padding: 0; height: 55px; background-color: #1e193f;color:white;border-color: #1e193f;}
	.left-bar .left-bar-1 p{text-align: center; color: white;text-transform: uppercase;padding: 15px 0 0 4px;}
	.left-bar .left-bar-1 p img{position: relative;left:-12px;top:2px;}
	.left-bar div{padding: 34px 0 0 7.7%;width: 92.3%;height: 123px;}
	.left-bar div a{position: relative;top:13px; margin: 0px 0 0 29px;letter-spacing: 0.1px;}
	.left-bar div a img{position: relative;top:8px;left:-13px;}
	.left-bar .left-bar-3{padding-top: 17px;height: 81px;}
	.left-bar .left-bar-4{padding-top: 18px;height: 122px;}
	.left-bar .left-bar-5{padding-top: 13px;height: 80px;}
	.left-bar .left-bar-6{padding-top: 17px;height: 100px;}
	.left-bar .left-bar-7{padding-top: 14px;height: 122px;}
	.left-bar .left-bar-8{padding-top: 11px;height: 122px;}
	#filter{display: none};
}
@media screen and (min-device-width: 970px) {
	.right-bar{float: right;width: 74.4%;height: auto;}
	.right-bar .top-caption{width: 100%;height: 55px;background: #1e193f;font-family: Open_Sans_Bold;font-size: 16px;color:white;}
	.right-bar .top-caption .top-caption-p1{float: left; margin: 0;width: 100px;text-transform: uppercase;padding: 14px 0 0 23px;}
	.right-bar .top-caption .top-caption-view{float: right;width: 170px;padding-top: 16px;}
	.right-bar .top-caption .top-caption-view p{padding: 0;font-family: Open_Sans;font-size: 14px;float: left;margin: 0;padding-right: 38px;}	
	.right-bar .top-caption .top-caption-view .border{width: 1px;height: 19px;margin: 2px 21px 0 20px;background: #282350;float: left;}
	.right-bar .top-caption .top-caption-view .tile-icon{float: left;padding-top: 2px;filter: brightness(0) invert(1);}
	.right-bar .top-caption .top-caption-view .list-icon{float: left;padding-top: 2px;}
	.right-bar .top-caption .top-caption-view a{text-decoration: none;}
	.right-bar .product-1, .right-bar .product-2,
	.right-bar .product-3, .right-bar .product-4,
	.right-bar .product-5, .right-bar .product-6,
	.right-bar .product-7, .right-bar .product-8,
	.right-bar .product-9{float: left; width: 30.9%; margin-right: 3.3%;border:1px solid #e9e9e9;background-color: white;margin-top: 29px;} 
	.right-bar .product-all div .product-img{min-height: 227px;overflow: auto; height: 100%; width: 100%; float: none;border-right:0px solid #e9e9e9;border-bottom:1px solid #e9e9e9;} 	
	.right-bar .product-all .product-img img{width: 67%; padding: 15% 0 0 17%;}
}
@media screen and (min-device-width: 970px) {	
	.right-bar .product-all .product-text{float: none;height: auto;width: 100%;font-family: Open_Sans;font-size: 15px;color: #7c7c7c;}
	.right-bar .product-all .product-p1{font-family: Open_Sans_Bold;font-size: 18px;color: black}
	.right-bar .product-all .product-text p{margin: 0;padding-top: 22px;width: 100%;line-height: 18px;text-align: center;}
	.right-bar .product-all .product-text a{text-decoration:none;}
	.right-bar .product-all .product-text .product-p2{padding-top: 19px;text-align: left;margin: 0 auto;width: 90%;padding-bottom: 31px;}
	.right-bar .product-all .product-text .product-p3,.right-bar .product-all .product-text .product-p4{display: none;}
	.right-bar .product-2{margin: 29px 3.3% 0 0;}
	.right-bar .product-3{margin: 29px 0 0 0;}
	.right-bar .product-4{margin-top: 29px;}
	.right-bar .product-5{margin: 29px 3.3% 0 0;}
	.right-bar .product-6{margin:29px 0 0 0;}
	.right-bar .product-8{margin: 29px 3.3% 0 0;}
	.right-bar .product-9{margin:29px 0 0 0;}
}
@media screen and (min-device-width: 970px) and (max-width:1170px) {	
	.right-bar .product-9{margin-right: 3.1%;}
	.right-bar .product-2{margin: 29px 3.1% 0 0;}
	.right-bar .product-3{margin: 29px 0 0 0;}
	.right-bar .product-4{margin-top: 29px;}
	.right-bar .product-5{margin: 29px 3.1% 0 0;}
	.right-bar .product-6{margin:29px 0 0 0;}
	.right-bar .product-8{margin: 29px 3.1% 0 0;}
	.right-bar .product-9{margin:29px 0 0 0;}
}
@media screen and (min-device-width: 970px) {
	.bottom-text-wrapper{width: 100%;background: white}
	.bottom-text{width: 1170px;margin: 0 auto;padding: 3% 0 4.6% 0;}
	.bottom-text p{font-family: Open_Sans;font-size: 16px;margin: 0;letter-spacing: 0.01px;line-height: 22px;}
	.bottom-text .bottom-text-p1{font-family: Open_Sans_Bold;font-size: 20px;text-transform: uppercase;letter-spacing: 0.09px;padding-left: 3px;}
	.bottom-text .bottom-text-p2{padding-top: 3.1%;}
	.bottom-text .bottom-text-p3{padding-top: 1.9%;}	
}	
@media screen and (min-device-width: 970px) and (max-width:1200px) {
	.bottom-text{width: 90%;}
}
@media screen and (min-device-width: 970px) {
/*FOOTER*/
footer{width: 100%;height: 224px;background-color: #1e193f;}
.footer{width: 62%;min-width: 970px; height: 100%;margin: 0 auto;}
.footer-top{width: 98.5%;margin: 0 auto;height: 164px;border-bottom:1px solid #433f63;}
.footer-top div{float: left;height: 95px;margin: 32px 0 0 0;border-right: 1px solid #433f63;}
.footer-top .footer-top1{width: 25%;}
.footer-top .border{display: none}
.footer-top1 img{float: left;margin: 15px 0 0 2px;}
.footer-top1 p{margin: 30px 0 0 88px; font-family: Open_Sans_Bold; font-size: 26px; color: #709dd3;}
.footer-top .footer-top2{width: 43.5%;}
.footer-top .footer-top2 div{width: 67%;margin: 0 16.5%;border:none;}
.footer-top2 ul{float: left;margin: 8px 0 0 0; font-family: Open_Sans;font-size: 14px;color:white;}
.footer-top2 ul a{text-decoration:none;color:white;}
.footer-top2 ul li{list-style-type: none;margin-top: 4px;}
.footer-top2 .footer-top-ul-2{margin-left: 49px;}
.footer-top .footer-top3{width: 29.9%;border:none;}
.footer-top .footer-top3 div{width: 200px;float: right;margin-top: 8px;border:none;}
.footer-top3 img{float: left;}
.footer-top3 a{text-decoration:none;}
.footer-top3 p{width: 157px; float: left;margin: 0; font-family: Open_Sans;font-size: 16px;color:white;}
.footer-top3 p span{display: block;float:left;}
.footer-top3-img1{margin: 3px 0 0 12px;}
.footer-top3 .footer-top3-p1{margin: -1px 0 0 12px;letter-spacing: -0.55px;}
.footer-top3-img2{margin: 12px 0 0 35px;}
.footer-top3 .footer-top3-p2{width: 138px; margin: 9px 0 0 12px;}
.footer-top3-img3{margin: 10px 0 0 35px;}
.footer-top3 .footer-top3-p3{width: 138px; margin: 7px 0 0 12px;}
.footer-bottom{width: 98.5%;margin: 0 auto;}
.footer-bottom div{float:left;width: 50%;}
.footer-bottom-1 a{display: block;width: 210px;margin-top: 16px;text-decoration:none;border-bottom: 1px dotted white;font-family: Open_Sans;font-size: 14px;color:white;}
.footer-bottom-2 p{float:right;margin-top: 19px;font-family: Open_Sans;font-size: 14px;color:white;}
}

/* МЕДИАЗАПРОСЫ ДЛЯ 750-970 px*/
@media only screen and (min-width:750px) and (max-width:970px){
	/*Работа с шапкой */
.page_header_wrapper{width: 100%; height: 42px;background-color: #1e193f;}
.page_header{width: 100%;min-width: auto; height: 42px; margin: 0 auto;}
.page_header a{display: block; text-decoration: none; letter-spacing: 0px; font-family: Open_Sans; font-size: 13px; color:white;}
.page_header p{letter-spacing: 0px; font-family: Open_Sans; font-size: 13px; color:white;}
.page_header div{height: auto; float: left;height: 100%;}
.page_header div img{float: left;}
.page_header_1{width: 23%;text-align: center; margin-left: 0; padding: 0 0 0 2.6%;}
.page_header_1 img{width: 16px; margin-top: 4px;}
.page_header_1 .page_header_1_a{width: 172px; margin: 10px 0 0 0px;}
.page_header_1 p{width: 172px; margin: 0 auto;}
.page_header_2{width: 186px; margin-left: 0px;}
.page_header_2 img{width: 12px; margin: 4px 8px 0 0px;}
.page_header_2 .page_header_2_p{width: 139px; margin: 12px 0 0 27px;border-right: 1px solid #36305e;}
.page_header_3{width: 159px;padding-left: 0;}
.page_header_3 img{width: 12px; margin: 4px 8px 0 0px;}
.page_header_3 .page_header_3_p{margin: 11px 0 0 27px;width: 133px;}
.page_header_4 .page_header_4_a{width: 100%; margin: 10px 0 0 0px; letter-spacing: 0px;}
.page_header_4 {margin:0 10px 0 4%;padding: 0 3%;}
.page_header_4:hover {background: #36305e}
.page_header .page_header_all{width: 70%;float:right;}
.page_header .page_header_all div{float: right}
}
@media only screen and (min-width:750px) and (max-width:970px){
.container {position: relative;display: block;}
.container .div-wrapper{margin-right: 0px;}
.container .button:hover .button-p{ border-bottom: 1px dotted white;}
.page_header .container .button p{width: 115px; height: 100%; margin: 0;padding: 0;letter-spacing: 0px;}
.container .button {width: 115px;height: 45%; right: 0; margin-left: 0;margin-right: 0px;padding: 11px 0 6.5% 0;position: relative;display: inline-block;font-family: Open_Sans;font-size: 14px;color: white;letter-spacing: 0px;}
.container .button a{display: block;text-decoration: none;border-bottom: 1px dotted white}
.overlay {top: 0;right: 0;bottom: 0;left: 0;z-index: 9999;visibility: hidden;background-color: rgba(0, 0, 0, 0.7);opacity: 0;position: fixed;cursor: default;-webkit-transition: all 0.6s;-moz-transition: all 0.6s;
					-ms-transition: all 0.6s;-o-transition: all 0.6s;transition: all 0.6s;}
.overlay:target {visibility: visible;opacity: 1;}
.page_header .popup {top: auto;left: 50%;z-index: 10000;margin: 0 auto;width: 100%;min-width: 200px;max-width: 391px;height: 310px;position: fixed;padding: 15px;
					background-color: #1e193f;-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
					-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);-o-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
					-webkit-transform: translate(-50%, -150%);-ms-transform: translate(-50%, -150%);-o-transform: translate(-50%, -150%);transform: translate(-50%, -150%);-webkit-transition: transform 0.6s ease-out;
					-moz-transition: transform 0.6s ease-out;-ms-transition: transform 0.6s ease-out;-o-transition: transform 0.6s ease-out;transition: transform 0.6s ease-out;}
.page_header .page_header_all .form-all-header {float:none;}
.form-all-header .caption-header{width: 236px;margin: 0px auto 0 auto;padding: 5px 0 0 5px; letter-spacing: 0px; text-align:center; font-family: Open_Sans_Bold;font-size: 20px;color:white;}
.form-all-header .caption-header span{display: block;white-space: pre;font-family: Open_Sans;font-size: 17px;}
.page_header .page_header_all .form-header{float: none; height: 328px;position: relative;}
.contact_form-header{position: relative; width: 92%;height: 100%; margin: 32px auto 0 auto;}
.page-header .page_header_all .left-header{float: none;width: 100%;height: 68%;}
}
@media only screen and (min-width:750px) and (max-width:970px){
.page_header .page_header_all .name-header, .page_header .page_header_all .tell-header{width: 100%;height: 50px;background-color: white;}
.page_header .page_header_all .name-header .name-img, .page_header .page_header_all .tell-header .tell-img{position: relative;top:33%;left:5%; opacity: 0.1; float: left;}
.page_header .page_header_all .name-header input, .page_header .page_header_all .tell-header input{float: right; width: 86%;height: 100%;font-family: Open_Sans;font-size: 14px; padding: 0;outline: none;border:none;}
.page_header .page_header_all .tell-header{margin-top: 17px;}
input::-moz-placeholder{font-family: Open_Sans;font-size: 14px;opacity: 0.2}
input::-webkit-input-placeholder{font-family: Open_Sans;font-size: 14px;opacity: 0.2}
input:-moz-placeholder{font-family: Open_Sans;font-size: 14px;opacity: 0.2}
input::-ms-input-placeholder{font-family: Open_Sans;font-size: 14px;opacity: 0.2}
.page_header .page_header_all .button-red{position: relative; top:-117px;text-align: center;padding-top: 12px; float: right;width: 100%; height: 33px;border-radius: 5px;font-family: Open_Sans;font-size: 15px;color:white; background-color: #d73539;}
.page_header .page_header_all .button-a-header{position: relative;top:155px;left:0px; float: none;width: 100%; height: 50px;display: block;border-radius: 5px; background-color: #c13235;}
.overlay:target+.popup {top: 212px;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.close {position: absolute;padding: 0;top: -10px;right: -10px;width: 22px;height: 22px;border: 2px solid #ccc;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;
				-o-border-radius: 50%;border-radius: 50%;background-color: rgba(61, 61, 61, 0.8);-webkit-box-shadow: 0px 0px 10px #000;-moz-box-shadow: 0px 0px 10px #000;box-shadow: 0px 0px 10px #000;text-align: center;
				text-decoration: none;font-weight: bold;line-height: 20px;-webkit-transition: background-color ease .7s;-moz-transition:  background-color ease .7s;-ms-transition:  background-color ease .7s;-o-transition:  background-color ease .7s;transition: background-color ease .7s;}
.close:before {color: rgba(255, 255, 255, 0.9);content: '\2715';text-shadow: 0 -1px rgba(0, 0, 0, 0.9);font-size: 12px;}
.close:hover {background-color: rgba(252, 20, 0, 0.8);}
.popup p {margin: 0;padding: 10px;}
.mobile-page{display: none;}
}
@media only screen and (min-width:750px) and (max-width:970px){
/*Работа с навигацией */
.navbar-wrapper{width: 100%; height: 87px;}
.navbar{width: 100%; min-width: 750px; height: 100%; margin: 0 auto;}
.navbar_a{display: none; width: 71%; max-width: 774px; height: 100%; float: right; overflow: hidden; margin-right: 0px;}
.navbar_a a{position: relative;float: right;}
.navbar a{display: block; height: 60px;float: left; margin-top: 42px; text-decoration: none; text-transform: uppercase; font-family: Open_Sans; font-size: 17px; color:#1e193f;}
.navbar a:hover{ border-bottom: none; color: #6f9cd2;}
.navbar_a1{width: 9.7%;margin-right: 7.6%;}
.navbar_a2{width: 12%;margin-right: 7.3%;}
.navbar_a3{width: 10.6%;margin-right: 7.6%;}
.navbar_a4{width: 8.5%;margin-right: 7.6%;}
.navbar_a5{width: 11.7%;margin-right: 7.6%;}
.logo{width: 18%; height: 100%; float: left;padding-left: 20px;}
.logo img{width: 42px; float: left; margin: 19px 0 0 0px;}
.logo p{position: relative; top:30px; margin: 0 0 0 61px; font-family: Open_Sans_Bold; font-size: 17px; color:#1e193f;}	
.navbar .navbar_a4{margin: 42px 57px 0 0;}
.navbar .navbar_a5{margin: 42px 34px 0 0;}
.menu-search{display: block; width: 50%;float: right;height: 100%;}
.menu-search div{width: 17.4%;height: 100%;float: right;}
.menu-search .menu a{margin: 0;}
.menu-search .menu img{margin: 38px 0 0 30px;}
.menu-search .search{width: 12%;height: 27%;margin-top: 36px;border-right: 1px solid #e6e6ea;border-left: none;}
.menu-search .search a{margin-top: 0px;}
.menu-search .search img{width: 19px;}
.search-form{display: none;}
}
@media only screen and (min-width:750px) and (max-width:970px){
.nav{width: 100%; height: 46px; margin: 0 auto;font-family: Open_Sans; font-size: 11px;color: black;background-color: #f4f4f4}
.nav p{width: 95%; height: 21px;padding-top: 15px; margin: 0 auto;}
.nav a{display: block;float: left;text-decoration:none;color: black}
.nav span{float: left;color:#6f9cd2;}
.nav-a1{margin-right: 5px;}
.nav-a2{margin-left: 3px;}
.nav .nav-a3{display: block;margin:0 4px 0 3px;}
.nav .nav-a4{margin:0 4px 0 3px;opacity: 0.4;color: black}
.nav-span-2{display: block;}
}
@media only screen and (min-width:750px) and (max-width:970px){
.card-product-wrapper{width: 100%;height: auto;padding-bottom: 46px; background-color: #f4f4f4;}
.card-product{max-width: 1170px;height:auto; margin: 0 auto;background-color: #f4f4f4;}
.left-bar{margin-left: 2.6%; display: block; float: left;width: 29.8%;height: 100%;background-color: white;}
.left-bar #filter{display: none}
.left-bar div{float: none;width: 100%;border-width:0px 1px 1px 1px;border-style: solid;border-color:  #e9e9e9;}
.left-bar p{margin: 0; font-family: Open_Sans_Bold;font-size: 13px;color: black;}
.left-bar a{display: block;font-family: Open_Sans;font-size: 13px;color: black;opacity: 0.4;}
.left-bar a img{float: left}
.left-bar .left-bar-1{width: 100%;padding: 0; height: 46px; background-color: #1e193f;color:white;border-color: #1e193f;}
.left-bar .left-bar-1 p{text-align: center; color: white;text-transform: uppercase;padding: 14px 0 0 0px;}
.left-bar .left-bar-1 p img{width: 14px; position: relative;left:-12px;top:1px;}
.left-bar div{padding: 30px 0 0 8.3%;width: 91.4%;height: 103px;}
.left-bar div a{position: relative;top:13px; margin: 0px 0 0 23px;letter-spacing: -0.5px;}
.left-bar div a img{position: relative;top:5px;left:-11px;}
.left-bar .left-bar-3{padding-top: 16px;height: 67px;}
.left-bar .left-bar-3 a{top:11px;}
.left-bar .left-bar-4{padding-top: 15px;height: 104px;}
.left-bar .left-bar-5{padding-top: 11px;height: 67px;}
.left-bar .left-bar-6{padding-top: 14px;height: 85px;}
.left-bar .left-bar-7{padding-top: 12px;height: 103px;}
.left-bar .left-bar-8{padding-top: 9px;height: 100px;}
#filter{display: none};
}
@media only screen and (min-width:750px) and (max-width:970px){
	.right-bar{float: right;width: 62.3%;height: auto;margin-right: 20px;}
	.right-bar .top-caption{width: 100%;height: 47px;background: #1e193f;font-family: Open_Sans_Bold;font-size: 13px;color:white;}
	.right-bar .top-caption .top-caption-p1{float: left; margin: 0;width: 100px;text-transform: uppercase;padding: 12px 0 0 18px;}
	.right-bar .top-caption .top-caption-view{float: right;width: 138px;padding-top: 14px;}
	.right-bar .top-caption .top-caption-view p{padding: 0;font-family: Open_Sans;font-size: 12px;float: left;margin: 0;padding-right: 33px;}	
	.right-bar .top-caption .top-caption-view .border{width: 1px;height: 19px;margin: 2px 18px 0 17px;background: #282350;float: left;}
	.right-bar .top-caption .top-caption-view .tile-icon{float: left;width: 15px; padding-top: 1px;filter: brightness(0) invert(1);}
	.right-bar .top-caption .top-caption-view .list-icon{float: left;width: 15px;padding-top: 1px;}
	.right-bar .top-caption .top-caption-view a{text-decoration: none;}
	.right-bar .product-1, .right-bar .product-2,
	.right-bar .product-3, .right-bar .product-4,
	.right-bar .product-5, .right-bar .product-6{width: 48%;float: left; border:1px solid #e9e9e9;background-color: white;margin-top: 19px;} 
	.right-bar .product-all div .product-img{min-height: 185px;overflow: auto; height: 100%; width: 100%; float: none;border-bottom:1px solid #e9e9e9;} 	
	.right-bar .product-all div .product-img img{width: 150px; padding: 8% 0 0 22%;}
}
@media only screen and (min-width:750px) and (max-width:970px){	
	.right-bar .product-all div .product-text{float: right;height: auto;width: 100%; font-family: Open_Sans;font-size: 13px;color: #7c7c7c;text-align: center;}
	.right-bar .product-all div .product-p1{font-family: Open_Sans_Bold;font-size: 15px;color: black}
	.right-bar .product-all div .product-text p{margin: 0;padding-top: 27px;width: 94%;line-height: 15.5px}
	.right-bar .product-all div .product-text a{text-decoration:none;}
	.right-bar .product-all div .product-text .product-p2{padding-top: 16px;text-align:left;margin: 0 auto;}
	.right-bar .product-all div .product-text .product-p3, .right-bar .product-all div .product-text .product-p4{padding-top: 15px;text-align:left;margin: 0 auto;padding-bottom: 20px;}
	.right-bar .product-all div .product-text .product-p4{display: none;}
	.right-bar .product-all .product-1{margin:19px 3.1% 0 0;}
	.right-bar .product-all .product-2{margin:19px 0 0 0;}
	.right-bar .product-all .product-3{margin:19px 3.1% 0 0;}
	.right-bar .product-all .product-4{margin:19px 0 0 0;}
	.right-bar .product-all .product-5{margin:19px 3.1% 0 0;}
	.right-bar .product-all .product-6{margin:19px 0 0 0;}
	.right-bar .product-all .product-7, .right-bar .product-all .product-8,
	.right-bar .product-all .product-9{display: none;}
}
@media screen and (min-width:750px) and (max-width:970px){
	.bottom-text-wrapper{width: 100%;background: white}
	.bottom-text{width: 96%;margin: 0 auto;padding: 5.9% 0 7.6% 0;}
	.bottom-text p{font-family: Open_Sans;font-size: 12px;margin: 0;letter-spacing: 0.01px;line-height: 15.5px;}
	.bottom-text .bottom-text-p1{font-family: Open_Sans_Bold;font-size: 15px;text-transform: uppercase;letter-spacing: 0.09px;padding-left: 3px;}
	.bottom-text .bottom-text-p2{padding: 3.5% 0 0 4px;}
	.bottom-text .bottom-text-p3{padding: 2.2% 0 0 4px;}	
}	
@media only screen and (min-width:750px) and (max-width:970px){
/*FOOTER*/
footer{width: 100%;height: 177px;background-color: #1e193f;}
.footer{width: 100%;max-width: 970px;min-width: auto; height: 100%;margin: 0 auto;}
.footer-top .border{display: none}
.footer-top{width: 100%;margin: 0 auto;height: 126px;border-bottom:1px solid #433f63;}
.footer-top div{float: left;height: 79px;margin: 28px 0 0 0;border-right: 1px solid #433f63;}
.footer-top .footer-top1{width: 23.7%;}
.footer-top1 img{float: left;width: 40px; margin: 1px 0 0 21px;}
.footer-top1 p{margin: 11px 0 0 82px; font-family: Open_Sans_Bold; font-size: 17px; color: #709dd3;}
.footer-top .footer-top2{width: 48%;}
.footer-top .footer-top2 div{width: 62%;margin: 0 19%;border:none;}
.footer-top2 ul{float: left;margin: -6px 0 0 0; font-family: Open_Sans;font-size: 12px;color:white;}
.footer-top2 ul a{text-decoration:none;color:white;}
.footer-top2 ul li{list-style-type: none;margin-top: 7px;}
.footer-top2 .footer-top-ul-2{margin-left: 12px;}
.footer-top .footer-top3{width: 27%;border:none;}
.footer-top .footer-top3 div{width: 184px;float: right;margin-top: 0px;border:none;}
.footer-top3 img{float: left;}
.footer-top3 a{text-decoration:none;}
.footer-top3 p{width: 136px; float: left;margin: 0; font-family: Open_Sans;font-size: 13px;color:white;}
.footer-top3 p span{display: block;float:left;}
.footer-top3-img1{width: 15px; margin: 1px 0 0 17px;}
.footer-top3 .footer-top3-p1{margin: -2px 0 0 11px;letter-spacing: 0px;}
.footer-top3-img2{width: 13px; margin: 7px 0 0 41px;}
.footer-top3 .footer-top3-p2{width: 120px; margin: 4px 0 0 10px;}
.footer-top3-img3{width: 13px; margin: 7px 0 0 41px;}
.footer-top3 .footer-top3-p3{width: 120px; margin: 6px 0 0 10px;}
.footer-bottom{width: 98.5%;margin: 0 auto;}
.footer-bottom div{float:left;width: 50%;}
.footer-bottom-1 a{display: block;width: 180px;padding-bottom: 3px;margin: 14px 0 0 17px;text-decoration:none;border-bottom: 1px dotted white;font-family: Open_Sans;font-size: 12px;color:white;}
.footer-bottom-2 p{float:right;margin-top: 17px;font-family: Open_Sans;font-size: 12px;color:white;}
}

/* МЕДИАЗАПРОСЫ ДЛЯ МОБИЛЬНЫХ MAX-WIDTH:750px*/
@media only screen and (max-width:750px){
	/*Работа с шапкой */
.page_header_wrapper{width: 100%; height: 162px;background-color: #1e193f;}
.page_header{width: 100%; min-width: auto; height: 100%; margin: 0 auto;}
.page_header a{display: block; text-decoration: none; letter-spacing: 0px; font-family: Open_Sans; font-size: 13px; color:white;}
.page_header p{letter-spacing: 0px; font-family: Open_Sans; font-size: 13px; color:white;}
.page_header div{ width: 100%;height: auto; float: none;}
.page_header div img{float: left;}
.page_header_1{width:100%;height: 20%; text-align: center; margin-left: 0; padding: 8px 0 0 5px;}
.page_header_1 img{width: 16px; margin-top: 4px;}
.page_header_1 .page_header_1_a{width: 172px; margin: 0px 0 0 0px;}
.page_header_1 p{width: 162px;padding-left: 0px; margin: 0 auto;}
.page_header .page_header_2{ position: relative; top:-54px;width: 100%;margin:0 0% 0 0;}
.page_header_2 a{width: 100%;}
.page_header_2 img{width: 12px; margin: 3px 10px 0 0px;}
.page_header_2 .page_header_2_p{width: 135px; margin: 12px auto 0 auto;border-right: 0px solid #36305e;}
.page_header_3{position: relative;top:7px;width: 159px;padding-left: 0;}
.page_header_3 img{width: 12px; margin: 2px 10px 0 0px;}
.page_header_3 a{width: 100%;}
.page_header_3 .page_header_3_p{width: 135px; margin: 11px auto 0 auto;}
.page_header_4 .page_header_4_a{width: 100%; margin: 10px 0 0 0px; letter-spacing: 0px;}
.page_header_4 {position: relative;top:97px; margin-left: 0;}
.page_header .page_header_all{width: 100%;float:none;}
.page_header .page_header_all div{float: none;}
}
@media only screen and (max-width:750px){
.container {position: relative;display: block;}
.container .div-wrapper{margin-right: 28px;}
.container .button:hover{background-color: #36305e;}
.container .button:hover .button-p{border-bottom: 1px dotted white;}
.page_header .container .button p{width: 114px;margin: 0 auto; height: 60%;padding: 0;letter-spacing: 0px;}
.container .button {width: 100%;height: 30px; text-align:center; right: 0; margin-left: 0;margin-right: 0px;padding: 10px 0 0 0;position: relative;display: inline-block;font-family: Open_Sans;font-size: 14px;color: white;letter-spacing: 0px;}
.container .button a{display: block;text-decoration: none;border-bottom: 1px dotted white}
.overlay {top: 0;right: 0;bottom: 0;left: 0;z-index: 9999;visibility: hidden;background-color: rgba(0, 0, 0, 0.7);opacity: 0;position: fixed;cursor: default;-webkit-transition: all 0.6s;-moz-transition: all 0.6s;
					-ms-transition: all 0.6s;-o-transition: all 0.6s;transition: all 0.6s;}
.overlay:target {visibility: visible;opacity: 1;}
.page_header .popup {top: auto;left: 50%;z-index: 10000;margin: 0 auto;width: 75%;min-width: 200px;max-width: 391px;height: 310px;position: fixed;padding: 15px;
					background-color: #1e193f;-webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);-moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
					-ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);-o-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
					-webkit-transform: translate(-50%, -150%);-ms-transform: translate(-50%, -150%);-o-transform: translate(-50%, -150%);transform: translate(-50%, -150%);-webkit-transition: transform 0.6s ease-out;
					-moz-transition: transform 0.6s ease-out;-ms-transition: transform 0.6s ease-out;-o-transition: transform 0.6s ease-out;transition: transform 0.6s ease-out;}
.form-all-header .caption-header{width: 236px;margin: 0px auto 0 auto;padding: 5px 0 0 5px; letter-spacing: 0px; text-align:center; font-family: Open_Sans_Bold;font-size: 20px;color:white;}
.form-all-header .caption-header span{display: block;white-space: pre;font-family: Open_Sans;font-size: 17px;}
.form-header{height: 328px;position: relative;}
.contact_form-header{position: relative; width: 92%;height: 100%; margin: 32px auto 0 auto;}
.page-header .page_header_all .left-header{float: none;width: 100%;height: 68%;}
}
@media only screen and (max-width:750px){
.page_header .page_header_all .name-header, .page_header .page_header_all .tell-header{width: 100%;height: 50px;background-color: white;}
.page_header .page_header_all .name-header .name-img, .page_header .page_header_all .tell-header .tell-img{position: relative;top:33%;left:5%; opacity: 0.1; float: left;}
.page_header .page_header_all .name-header input, .page_header .page_header_all .tell-header input{float: right; width: 86%;height: 100%;font-family: Open_Sans;font-size: 14px; padding: 0;outline: none;border:none;}
.page_header .page_header_all .tell-header{margin-top: 17px;}
input::-moz-placeholder{font-family: Open_Sans;font-size: 14px;opacity: 0.2}
input::-webkit-input-placeholder{font-family: Open_Sans;font-size: 14px;opacity: 0.2}
input:-moz-placeholder{font-family: Open_Sans;font-size: 14px;opacity: 0.2}
input::-ms-input-placeholder{font-family: Open_Sans;font-size: 14px;opacity: 0.2}
.page_header .page_header_all .button-red{position: relative; top:0px;text-align: center;padding-top: 12px; float: right;width: 100%; height: 33px;border-radius: 5px;font-family: Open_Sans;font-size: 15px;color:white; background-color: #d73539;}
.page_header .page_header_all .button-a-header{position: relative;top:40px;left:0px; float: none;width: 100%; height: 50px;display: block;border-radius: 5px; background-color: #c13235;}
.overlay:target+.popup {top: 212px;-webkit-transform: translate(-50%,-50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.close {position: absolute;padding: 0;top: -10px;right: -10px;width: 22px;height: 22px;border: 2px solid #ccc;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;
				-o-border-radius: 50%;border-radius: 50%;background-color: rgba(61, 61, 61, 0.8);-webkit-box-shadow: 0px 0px 10px #000;-moz-box-shadow: 0px 0px 10px #000;box-shadow: 0px 0px 10px #000;text-align: center;
				text-decoration: none;font-weight: bold;line-height: 20px;-webkit-transition: background-color ease .7s;-moz-transition:  background-color ease .7s;-ms-transition:  background-color ease .7s;-o-transition:  background-color ease .7s;transition: background-color ease .7s;}
.close:before {color: rgba(255, 255, 255, 0.9);content: '\2715';text-shadow: 0 -1px rgba(0, 0, 0, 0.9);font-size: 12px;}
.close:hover {background-color: rgba(252, 20, 0, 0.8);}
.popup p {margin: 0;padding: 10px;}
.mobile-page{display: none;}
}
@media only screen and (max-width:750px){
/*Работа с шапкой для мобильных*/
.mobile-page div{width: 27%;height: 24px; margin: 7px auto 0 auto;}
.mobile-page div p{width: 150px;margin: 0 auto;}
.mobile-page div p img{width: 12px;margin: 3px 10px 0 0;}
.mobile-page .mobile-page-1{height: 34px;width: 100%; margin-top: 15px;padding-top: 11px;font-size: 12px;}
.mobile-page .mobile-page-1:hover{background: #36305e;cursor: pointer;}
.mobile-page .mobile-page-1:hover .mobile-page-p{border-bottom: 1px dotted white;}
.mobile-page .mobile-page-1 p{width: 115px;}
/*Работа с навигацией */
.navbar-wrapper{width: 100%; height: 163px;}
.navbar{width: 100%; min-width: auto; height: 100%; margin: 0 auto;}
.navbar_a{display: none; width: 71%; max-width: 774px; height: 100%; float: right; overflow: hidden; margin-right: 0px;}
.navbar_a a{position: relative;float: right;}
.navbar a{display: block; height: 60px;float: left; margin-top: 42px; text-decoration: none; text-transform: uppercase; font-family: Open_Sans; font-size: 17px; color:#1e193f;}
.navbar_a1{width: 9.7%;margin-right: 7.6%;}
.navbar_a2{width: 12%;margin-right: 7.3%;}
.navbar_a3{width: 10.6%;margin-right: 7.6%;}
.navbar_a4{width: 8.5%;margin-right: 7.6%;}
.navbar_a5{width: 11.7%;margin-right: 7.6%;}
.navbar a:hover{ border-bottom: 2px solid #6f9cd2; color: #6f9cd2;}
.logo{width: 100%; margin: 0;height: 50%; float: left;padding-left: 0px;}
.logo div{margin: 0 auto;width: 132px;}
.logo img{width: 42px; float: left; margin: 28px 0 0 0px;}
.logo p{position: relative; top:39px; margin: 0 0 0 61px; font-family: Open_Sans_Bold; font-size: 17px; color:#1e193f;}	
.navbar .navbar_a4{margin: 42px 57px 0 0;}
.navbar .navbar_a5{margin: 42px 34px 0 0;}
.menu-search{display: block; width: 100%;float: right;margin-top: 30px; height: 14%;}
.menu-search div{width: 50%;height: 100%;float: right;}
.menu-search .menu a{margin: 0;}
.menu-search .menu img{margin: 0 0 0 30px;}
.menu-search .search{width:49%; padding: 0;border-right: 1px solid #6f9cd2;margin-top: 0;}
.menu-search .search a{width: 22px;height: 22px; margin: 0px 25px 0 0;float: right}
.menu-search .search a:hover{border:none;opacity: 0.7}
.menu-search .search a:
.menu-search .search img{}
.search-form{display: none;width: 20px;height: 20px;background: black;}
}
@media only screen and (max-width:750px){
.nav{display: block; width: 100%; height: 58px;padding-bottom: 0; margin: 0 auto;font-family: Open_Sans; font-size: 11px;color: black;background-color: #f4f4f4}
.nav p{width: 95%; height: 21px;padding: 18px 0 0 17px; margin: 0 auto;}
.nav a{display: block;float: left;text-decoration:none;color: black}
.nav span{float: left;color:#6f9cd2;}
.nav-a1{margin-right: 5px;}
.nav-a2{margin-left: 3px;}
.nav  .nav-a3{display: none; margin:0 4px 0 3px;}
.nav .nav-a4{display: none; margin:0 4px 0 3px;opacity: 0.4;}
.nav .nav-span-2{display: none;}
}
@media only screen and (max-width:750px){
	.card-product-wrapper{margin-top: 0px; width: 100%;height: auto;padding-bottom: 40px; background-color: #f4f4f4;}
	.card-product{max-width: 1170px;height:auto; margin: 0 auto;background-color: #f4f4f4;}
	.left-bar{margin:0 auto; display: block; float: none;width: 93%;height: 100%;background-color: #f4f4f4;}
	.left-bar #filter{display: block;}
	.left-bar div{float: none;width: 100%;border-width:0px 1px 1px 1px;border-style: solid;border-color:  #e9e9e9;}
	.left-bar p{margin: 0; font-family: Open_Sans_Bold;font-size: 13px;color: black;}
	.left-bar a{display: block;font-family: Open_Sans;font-size: 13px;color: black;opacity: 0.4;}
	.left-bar a img{float: left}
	.left-bar .left-bar-1{display: none; width: 100%;padding: 0; height: 46px; background-color: #1e193f;color:white;border-color: #1e193f;}
	.left-bar .left-bar-1 p{text-align: center; color: white;text-transform: uppercase;padding: 14px 0 0 0px;}
	.left-bar .left-bar-1 p img{width: 14px; position: relative;left:-12px;top:1px;}
	.left-bar div{padding: 30px 0 0 8.3%;width: 91.4%;height: 103px;}
	.left-bar div a{position: relative;top:13px; margin: 0px 0 0 23px;letter-spacing: -0.5px;}
	.left-bar div a img{position: relative;top:5px;left:-11px;}
	.left-bar .left-bar-2{display: none;}
	.left-bar .left-bar-3{display: none;padding-top: 16px;height: 67px;}
	.left-bar .left-bar-3 a{top:11px;}
	.left-bar .left-bar-4{display: none;padding-top: 15px;height: 104px;}
	.left-bar .left-bar-5{display: none;padding-top: 11px;height: 67px;}
	.left-bar .left-bar-6{display: none;padding-top: 14px;height: 85px;}
	.left-bar .left-bar-7{display: none;padding-top: 12px;height: 103px;}
	.left-bar .left-bar-8{display: none;padding-top: 9px;height: 100px;}
}
@media only screen and (max-width:750px){
	#filter{display: block; width: 100%;height: 100%;margin:auto;padding: 1px 0 0 0;border:none;background: #f4f4f4;}
	#filter .filter-accordion{padding: 0;height: 100%;width: 99%;margin-top: 0px;}
	.left-bar #filter div{border:none;padding: 0;}
	#filter label{width: 100%;margin: 0 auto;font-family: Open_Sans_Bold;text-align: center;font-size: 13px;text-transform: uppercase;padding: 11px 0px 1px 0px;border:2px solid #1e193f;position: relative;z-index: 20;display: block;height: 30px;cursor: pointer;background: white;color: #1e193f;}
	#filter label img{padding-right: 8px;}
	#filter .filter-left-bar-2{display: block;padding: 0;width: 100%;}
	#filter input:checked + label,
	#filter input:checked + label:hover{color: white;background: #1e193f;border:1px solid #e9e9e9;}
	#filter input:checked + label img,
	#filter input:checked + label img:hover{filter: brightness(0) invert(1);}
	#filter input{display: none;}
	#filter .filter-block{background: rgba(255, 255, 255, 0.5);overflow: hidden;height: 0px;width: 100%;margin: 0 auto; padding: 0;position: relative;z-index: 10;transition:height 0.3s ease-in-out,box-shadow 0.6s linear;}
	#filter input:checked ~ .filter-block{transition:height 0.5s ease-in-out,box-shadow 0.1s linear;box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);}
	#filter input:checked ~ .filter-block{height: 741px;}
	.left-bar #filter .filter-block .filter-left-bar-2 .content-1 div{height: auto; padding: 5.5% 0 0 0;width: 160px;margin: 0 auto;border:none;}
	.left-bar #filter .filter-block .filter-left-bar-2 .content-2 div{height: auto; padding: 3.5% 0 0 0;width: 160px;margin: 0 auto;border:none;}
	.left-bar #filter .filter-block .filter-left-bar-2 .content-3 div{height: auto; padding: 3.5% 0 0 0;width: 160px;margin: 0 auto;border:none;}
	.left-bar #filter .filter-block .filter-left-bar-2 .content-4 div{height: auto; padding: 2.6% 0 0 0;width: 160px;margin: 0 auto;border:none;}
	.left-bar #filter .filter-block .filter-left-bar-2 .content-5 div{height: auto; padding: 3.5% 0 0 0;width: 160px;margin: 0 auto;border:none;}
	.left-bar #filter .filter-block .filter-left-bar-2 .content-6 div{height: auto; padding: 2.5% 0 0 0;width: 160px;margin: 0 auto;border:none;}
	.left-bar #filter .filter-block .filter-left-bar-2 .content-7 div{height: auto; padding: 1.8% 0 0 0;width: 160px;margin: 0 auto;border:none;}  
	.left-bar #filter .filter-block .filter-left-bar-2 .content-7{padding-bottom: 8%;}
	.left-bar #filter .filter-block .filter-left-bar-2 div{width: 100%;height: auto;border-bottom: 1px solid #e9e9e9;padding-bottom: 7%;}
	.left-bar #filter .filter-block .filter-left-bar-2 div a{display: block;}	
	#filter .filter-block .filter-left-bar-2 div p{margin: 0;font-family: Open_Sans_Bold;font-size: 13px; color:#1e193f;}
}
@media only screen and (max-width:750px){
	.right-bar{float: none;width: 93%;height: auto;margin:15px auto 0 auto;}
	.right-bar .top-caption{width: 100%;height: 47px;background: #1e193f;font-family: Open_Sans_Bold;font-size: 13px;color:white;}
	.right-bar .top-caption .top-caption-p1{float: none; margin: 0;width: 100%;text-align: center;text-transform: uppercase;padding: 13px 0 0 0px;}
	.right-bar .top-caption .top-caption-view{display: none; float: right;width: 138px;padding-top: 14px;}
	.right-bar .top-caption .top-caption-view p{padding: 0;font-family: Open_Sans;font-size: 12px;float: left;margin: 0;padding-right: 33px;}	
	.right-bar .top-caption .top-caption-view .border{width: 1px;height: 19px;margin: 2px 18px 0 17px;background: #282350;float: left;}
	.right-bar .top-caption .top-caption-view .tile-icon{float: left;width: 15px; padding-top: 1px;}
	.right-bar .top-caption .top-caption-view .list-icon{float: left;width: 15px;padding-top: 1px;}
	.right-bar .top-caption .top-caption-view a{text-decoration: none;}
	.right-bar .product-1, .right-bar .product-2,
	.right-bar .product-3, .right-bar .product-4,
	.right-bar .product-5{width: 100%; border:1px solid #e9e9e9;background-color: white;margin-top: 19px;} 
	.right-bar .product-all div .product-img{min-height: 176px;overflow: auto; height: 100%; width: 100%; float: none;border-right:0px solid #e9e9e9;border-bottom:1px solid #e9e9e9;} 	
	.right-bar .product-all .product-img img{display: block; width: 150px; padding: 4% 0 0 0%;margin: 0 auto;}
}
@media only screen and (max-width:750px){
	.right-bar .product-all .product-text{float: none;height: auto;width: 100%;font-family: Open_Sans;font-size: 13px;color: #7c7c7c;}
	.right-bar .product-all .product-p1{font-family: Open_Sans_Bold;font-size: 15px;color: black;text-align: center;}
	.right-bar .product-all .product-text p{margin: 0;padding-top: 24px;width: 100%;line-height: 15.5px}
	.right-bar .product-all .product-text a{text-decoration:none;}
	.right-bar .product-all .product-text .product-p2{display: block; width: 91%; padding: 19px 0 0 2px;margin: 0 auto;}
	.right-bar .product-all .product-text .product-p4{display: none;}
	.right-bar .product-all .product-text .product-p3{display: block;width: 91%; padding: 16px 0 29px 2px;margin: 0 auto;} 
	.right-bar .product-2{margin-top: 16px;}
	.right-bar .product-3{margin-top: 17px;}
	.right-bar .product-4{margin-top: 16px;}
	.right-bar .product-5{margin-top: 16px;}
	.right-bar .product-6, .right-bar .product-7,
	.right-bar .product-8, .right-bar .product-9{display: none}
}
@media only screen and (max-width:750px){
	.bottom-text-wrapper{width: 100%;background: white}
	.bottom-text{width: 96%;margin: 0 auto;padding: 5.9% 0 7.6% 0;}
	.bottom-text p{font-family: Open_Sans;font-size: 12px;margin: 0;letter-spacing: 0.01px;line-height: 16px;}
	.bottom-text .bottom-text-p1{font-family: Open_Sans_Bold;font-size: 15px;text-transform: uppercase;line-height: 21.5px;letter-spacing: 0.09px;padding-left: 8px;}
	.bottom-text .bottom-text-p2{width: 96%; padding: 3% 0 0 0px;margin: 0 auto;}
	.bottom-text .bottom-text-p3{width: 96%; padding: 3.5% 0 22px 0px;margin: 0 auto;}	
}	
@media only screen and (max-width:750px){
/*FOOTER*/
footer{width: 100%;height: auto;background-color: #1e193f;}
.footer{width: 100%;min-width: auto; max-width: 970px; height: auto;margin: 0 auto;}
.footer-top .border{display: block;width: 96%;height: 1px;color:; margin: 0 2%; background-color: #433f63;}
.footer-top{width: 92%;margin: 0 4%;height: auto;border-bottom:0px solid #433f63;}
.footer-top div{float: none;height: auto;margin: 0px 0 0 0;border-right: 0px solid #433f63;}
.footer-top .footer-top1{width: 129px;margin: 0 auto;height: 101px;border-bottom:0px solid #433f63;}
.footer-top1 img{position: relative; top:29px;float: left;width: 40px; margin: 0px 18px 0 0px;}
.footer-top1 p{position: relative; top:39px; margin: 0px 0 0 0px; font-family: Open_Sans_Bold; font-size: 17px; color: #709dd3;}
.footer-top .footer-top2{width: 116px;margin: 23px auto 25px auto;}
.footer-top .footer-top2 div{width: 62%;margin: 0 19%;border:none;}
.footer-top2 ul{float: none;margin: 0px 0 0 0; text-align: center; padding: 0;font-family: Open_Sans;font-size: 12px;color:white;}
.footer-top2 ul a{text-decoration:none;color:white;}
.footer-top2 ul li{list-style-type: none;margin-top: 7px;}
.footer-top2 .footer-top-ul-2{margin-left: 0px;}
.footer-top .footer-top3{width: 172px;height: 116px;margin: 24px auto 0 auto; border:none;}
.footer-top .footer-top3 div{width: 184px;float: right;margin-top: 0px;border:none;}
.footer-top3 img{float: left;}
.footer-top3 a{text-decoration:none;}
.footer-top3 p{width: 136px; float: left;margin: 0; font-family: Open_Sans;font-size: 13px;color:white;}
.footer-top3 p span{display: block;float:left;}
.footer-top3-img1{width: 15px; margin: 1px 0 0 0px;}
.footer-top3 .footer-top3-p1{margin: -2px 0 0 11px;letter-spacing: 0px;}
.footer-top3-img2{width: 13px; margin: 20px 0 0 0px;}
.footer-top3 .footer-top3-p2{width: 113px; margin: 18px 0 0 9px;}
.footer-top3-img3{width: 13px; margin: 15px 0 0 0px;}
.footer-top3 .footer-top3-p3{width: 113px; margin: 13px 0 0 9px;}
.footer-bottom{width: 232px;height: 112px; margin: 24px auto 0 auto;text-align: center;}
.footer-bottom div{float:none;width: 100%;}
.footer-bottom .footer-bottom-1{width: 180px; margin: 0 auto;}
.footer-bottom .footer-bottom-2{width: 228px;}
.footer-bottom-1 a{display: block;width: 180px;padding-bottom: 3px;margin: 0px 0 0 0px;text-decoration:none;border-bottom: 1px dotted white;font-family: Open_Sans;font-size: 12px;color:white;}
.footer-bottom-2 p{float:right;margin-top: 13px;font-family: Open_Sans;font-size: 12px;color:white;}
.footer-top3 div a{display: block;width: 135px;margin: 0 auto;}
.footer-top3 div .mail-footer{width: 162px;}
}





